#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel-hr {
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  border: 0;
  margin: 20px 0;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: var(--horizontal-space);
}
