#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  transition: all 0.2s;
}
#login-form input[type="submit"]:hover {
  background-color: var(--yellow);
}
#login-form a {
  text-align: center;
  text-decoration: none;
  /* 부모로부터 색을 상속받음 */
  color: inherit;
  font-size: 13px;
}
